/****************************
           Global
****************************/

@import url('https://rsms.me/inter/inter.css');
body { 
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

p {
  font-size: 10px;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.gg-button {
  background-color: #179485;
  border-width: 0px;
  border-radius: 10px;
}

.btn {
  height: 55px !important;
}

table {
  font-size: 14px;
}

.w-40 {
  width: 40%;
}

/****************************
            Map
****************************/

.map {
  background-image: url('../images/map.png');
  background-size: cover;
}

.menu {
  position: absolute;
  right: 20px;
  top: 25px;
}

.home-layers {
  position: absolute;
  left: 20px;
  top: 550px;
}

.pre-layers {
  position: absolute;
  left: 20px;
  top: 600px;
}

.layers {
  position: absolute;
  left: 20px;
  top: 650px;
}

.location {
  position: absolute;
  left: 100px;
  top: 500px;
}

.robot-tag {
  position: absolute;
  left: 248px;
  top: 325px;
}


/****************************
       Swipe Up Panel
****************************/

.default-panel {
  width: 100%;
  height: 180px;
  border-radius: 30px 30px 0px 0px;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
}

.swipe {
  display: flex;
  justify-content: center;
}

.panel-expand {
  height: 50px;
  border-color: #FFF;
}

.panel-expand:hover {
  background-color: #FFF;
  border-color: #FFF;
}

.panel-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.offcanvas-bottom {
  height: 80%;
  border-radius: 30px;
}

.offcanvas-header {
  padding-top: 0;
  display: flex;
  align-items: flex-end;
}

.offcanvas-body {
  padding-top: 0;
  overflow-x: hidden;
}

/****************************
       Mission Start
****************************/

.nav-pills .nav-link, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #7D7D7D;
  background-color: #ffffff;
  border-bottom: 5px solid #E4E4E4;
  border-radius: 0px;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  border-bottom: 5px solid #23DDBC;
  border-radius: 0px;
}

table {
  background-color: #EEFFFC;
}

th {
  height: 40px;
}

thead tr {
  color: #179485;
  background-color: #BDF5EB; 
}

.table>:not(:first-child) {
  border-top: none;
}

.table-bordered td {
  border: 5px solid #FFF;
}

tfoot tr {
  color: #179485;
  background-color: #BDF5EB;
  text-align: center;
}

td {
  height: 55px;
  vertical-align: middle;
  border-top: 3px solid #BDF5EB;
}

.x {
  float: right;
}

.vehicle-option {
  border-radius: 15px;
  height: 87px;
}

.ready {
  background-color: rgba(35, 221, 188, 0.25);
}

.ready h6 {
  color: #179485;
}

.not-ready {
  background-color: #FFDFA1;
}

.not-ready h6 {
  color: #FF8A00;
}

.selected {
  color: #FFF;
  background-color: #179485;
}

.selected h5 {
  font-weight: 600;
}

.selected h6 {
  color: #FFF;
}

.busy {
  color: #7D7D7D;
  background-color: #E5E5E5;
}

.image-text-inline > * {
  vertical-align: middle;
}

.image-text-inline h6 {
  margin-bottom: 5px;
}

.short {
  width: 35%;
  border-radius: 10px;
}

.long {
  width: 63% !important;
}

.back {
  color: #179485;
  border-color: #179485;
  border-width: 2px;
}

.gg-button.disabled {
  color: #7D7D7D !important;
  background-color: #E4E4E4 !important;
}

.long.disabled {
  border-width: 0px;
  border-radius: 10px;
}

.pill {
  border-radius: 17.5px;
  background-color: #C4C4C4;
}

.robot-stats {
  width: 130px;
}

#scroll {
  height: 80%;
  overflow-y: scroll;
}

.modal-content {
  border-radius: 20px;
}

.modal-body h3 {
  font-weight: 500;
}

.alert {
  position: absolute;
  width: 100%;
  height: 220px;
  bottom: 0;
  color: #FFF;
  background-color: #23DDBC;
  border-radius: 20px;
}

/****************************
       Progress View
****************************/
.pre-map {
  background-image: url('../images/pre-progress/pre-map1.png');
  background-size: cover;
}

#rep-blocks {
  width: 380px;
  overflow-x: scroll;
}

.block {
  color: #179485;
  width: 102px !important;
  height: 180px;
  background: #DCFFF9;
  border-radius: 10px;
}

.add-block {
  width: 102px;
  height: 180px;
  background: #FFF;
  border-radius: 10px;
  border: 2px dotted #7D7D7D;
}

.d-table {
  border-collapse: separate;
  border-spacing: 15px;
}

/****************************
       Progress View
****************************/

.progress-map {
  background-image: url('../images/status/progress-map.png');
  background-size: cover;
}

.time-remaining {
  margin-bottom: 3px;
  color: #7D7D7D;
}

.progress {
  height: 30px;
  background-color: #FFF;
  border: 2px solid #E4E4E4;
  border-radius: 17.5px;
}

.progress-bar {
  height: 27px;
  background: linear-gradient(90deg, #23DDBC 1.07%, #64FAC8 101.33%);
  border-radius: 17.5px;
}

#connectivity {
  width: 30%;
  background: #DCFFF9;
  border-radius: 15px;
}

.icon-status {
  width: 30%;
  text-align: center;
}

.icon-status img {
  height: 55px;
  width: auto;
}

.icon-status p {
  color: #7D7D7D;
}

/****************************
          Home View
****************************/

.next-mission {
  width: 100%;
  height: 135px;
  border: 3px solid #23DDBC;
  border-radius: 15px;
  margin-bottom: 32px;
}

.future-mission {
  width: 100%;
  height: 85px;
  border: 1px solid #7D7D7D;
  border-radius: 15px;
  margin-bottom: 11px;
}

.mission-info {
  width: 65%;
}

.robot-info {
  width: 35%;
}

.future-robot-info {
  width: 20%;
}

.future-mission-info {
  width: 80%;
}

#next-robot-label {
  color: #7D7D7D;
}

#missions-panel-closed {
  width: 100%;
  padding: 0;
  height: 280px;
  border-radius: 30px 30px 0px 0px;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
}

.mission-date {
  float: right;
  text-align: center;
  background-color: #FFF;
  border-radius: 10px;
  font-weight: 700;
  color: #179485;
}